@model ApplicationUser
@{
    ViewData["Title"] = "Complete Profile";
    Layout = "_Layout";
}
<h2>Complete your profile</h2>
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}
<form asp-action="CompleteProfile" method="post" enctype="multipart/form-data">

    <label>First Name</label>
    <input asp-for="FirstName" class="form-control" />
    <label>Last Name</label>
    <input asp-for="LastName" class="form-control" />

    <div class="mb-3">
        <label asp-for="ProfileDescription" class="form-label fw-bold">
            Text Content
        </label>
        <textarea asp-for="ProfileDescription" class="form-control" rows="6"
                  placeholder="Add a profile description"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label fw-bold">Upload image</label>
        <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
        <small class="form-text text-muted text-image-video">Select a photo from your computer.</small>
    </div>
    <br />


    <button type="submit">Save</button>
</form>
