@model SocialPlatformTime.Models.ApplicationUser

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<h3>Add New User</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <label>First Name</label>
    <input asp-for="FirstName" class="form-control" />
    <label>Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <label>Role</label>
    <select name="selectedRole" class="form-control">
        @foreach (var role in ViewBag.Roles as List<SelectListItem>)
        {
            <option value="@role.Value">@role.Text</option>
        }
    </select>
    <div class="mb-3">
        <label asp-for="ProfileDescription" class="form-label fw-bold">
            Text Content
        </label>
        <textarea asp-for="ProfileDescription" class="form-control" rows="6"
                  placeholder="Add a profile description"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label fw-bold">Upload image</label>
        <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
        <small class="form-text text-muted text-image-video">Select a photo from your computer.</small>
    </div>
    <select asp-for="IsPublic" class="form-control">
        <option value="true">Public</option>
        <option value="false">Private</option>
    </select>
    <br />
    <button type="submit" class="btn btn-success">Create User</button>
</form>
