@model SocialPlatformTime.Models.ApplicationUser

<h3>Add New User</h3>
<form asp-action="Create" method="post">
    <label>User Name</label>
    <input asp-for="UserName" class="form-control" />
    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <label>First Name</label>
    <input asp-for="FirstName" class="form-control" />
    <label>Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <label>Phone Number</label>
    <input asp-for="PhoneNumber" class="form-control" />
    <label>Password</label>
    <input name="password" type="password" class="form-control" />
    <label>Role</label>
    <select name="selectedRole" class="form-control">
        @foreach (var role in ViewBag.Roles as List<SelectListItem>)
        {
            <option value="@role.Value">@role.Text</option>
        }
    </select>
    <br />
    <button type="submit" class="btn btn-success">Create User</button>
</form>
