
<br />
<h2 class="text-center">POSTS</h2>

<br />

@if (ViewBag.Message != null)
{

    <h2 class="p-3 rounded-3 text-center mb-5 alert @ViewBag.Alert">@ViewBag.Message</h2>
}

<br />


@foreach (var post in ViewBag.Posts)
{
    <div>
        <partial name="PostInfo" model="post"></partial>

        @* Nu ne mai trebuie, afisam butonul in PostInfo.cshtml *@
        @* <a class="btn btn-success" asp-controller="Posts" asp-action="Show" asp-route-id="@post.Id">Show Post</a> *@

    </div>

    <br />
    <br />
}

